#airbnb analysis

In [ ]:
pip install streamlit

In [ ]:
pip install pymongo

In [ ]:
import pandas as pd
import pymongo
from pymongo import MongoClient
import numpy as np

In [ ]:
#Connecting MongoDB
Nivetha=pymongo.MongoClient('mongodb+srv://username:password@cluster0.mzw5alx.mongodb.net/?retryWrites=true&w=majority')
db = Nivetha['sample_airbnb']
coll = db['listingsAndReviews']

In [ ]:
df = pd.DataFrame(list(coll.find()))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    5555 non-null   object
 1   listing_url            5555 non-null   object
 2   name                   5555 non-null   object
 3   summary                5555 non-null   object
 4   space                  5555 non-null   object
 5   description            5555 non-null   object
 6   neighborhood_overview  5555 non-null   object
 7   notes                  5555 non-null   object
 8   transit                5555 non-null   object
 9   access                 5555 non-null   object
 10  interaction            5555 non-null   object
 11  house_rules            5555 non-null   object
 12  property_type          5555 non-null   object
 13  room_type              5555 non-null   object
 14  bed_type               5555 non-null   object
 15  minimum_nights         5555 non-null   object
 16  maximum_nights         5555 non-null   object
 17  cancellation_policy    5555 non-null   object
 18  last_scraped           5555 non-null   datetime64[ns]
 19  calendar_last_scraped  5555 non-null   datetime64[ns]
 20  first_review           4167 non-null   datetime64[ns]
 21  last_review            4167 non-null   datetime64[ns]
 22  accommodates           5555 non-null   int64
 23  bedrooms               5550 non-null   float64
 24  beds                   5542 non-null   float64
 25  number_of_reviews      5555 non-null   int64
 26  bathrooms              5545 non-null   object
 27  amenities              5555 non-null   object
 28  price                  5555 non-null   object
 29  weekly_price           714 non-null    object
 30  monthly_price          656 non-null    object
 31  cleaning_fee           4024 non-null   object
 32  extra_people           5555 non-null   object
 33  guests_included        5555 non-null   object
 34  images                 5555 non-null   object
 35  host                   5555 non-null   object
 36  address                5555 non-null   object
 37  availability           5555 non-null   object
 38  review_scores          5555 non-null   object
 39  reviews                5555 non-null   object
 40  security_deposit       3471 non-null   object
 41  reviews_per_month      94 non-null     float64
dtypes: datetime64[ns](4), float64(3), int64(2), object(33)
memory usage: 1.8+ MB

In [ ]:
#Removing unwanted column
df.drop(['listing_url', 'summary','space','transit','notes', 'minimum_nights','maximum_nights','access','interaction','reviews','last_scraped','calendar_last_scraped','first_review','last_review','weekly_price','monthly_price','images','reviews','extra_people','guests_included'], axis=1, inplace = True)

In [ ]:
#creating new columns
df[['availablity_30','availability_60','availability_90','availability_365']] = df['availability'].apply(lambda i:pd.Series([i['availability_30'],i['availability_60'],i['availability_90'],i['availability_365']]))
df[['host_id','host_name','host_response_time']]=df['host'].apply(lambda i:pd.Series([i['host_id'],i['host_name'],i.get('host_response_time',None)]))
df[['street','country','country_code','location']]=df['address'].apply(lambda i:pd.Series([i['street'],i['country'],i['country_code'],i['location']]))
df[['location_type','coordinates','is_location_exact']]=df['location'].apply(lambda i:pd.Series([i['type'],i['coordinates'],i['is_location_exact']]))
df[['latitude','longitude']] = df['coordinates'].apply(lambda i:pd.Series([i[0],i[1]]))
df['average_rating'] = df['review_scores'].apply(lambda i: np.mean([i.get('review_scores_accuracy', 0), i.get('review_scores_cleanliness', 0), i.get('review_scores_checkin', 0), i.get('review_scores_communication', 0), i.get('review_scores_location', 0), i.get('review_scores_value', 0)]))

In [ ]:
df.drop(['availability', 'host', 'address','location','coordinates','review_scores'], axis=1, inplace = True)

In [ ]:
#checking missing values
df.isnull().sum()

_id                         0
name                        0
description                 0
neighborhood_overview       0
house_rules                 0
property_type               0
room_type                   0
bed_type                    0
cancellation_policy         0
accommodates                0
bedrooms                    5
beds                       13
number_of_reviews           0
bathrooms                  10
amenities                   0
price                       0
cleaning_fee             1531
host                        0
address                     0
availability                0
review_scores               0
security_deposit         2084
reviews_per_month        5461
availablity_30              0
availability_60             0
availability_90             0
availability_365            0
host_id                     0
host_name                   0
host_response_time       1388
street                      0
country                     0
country_code                0
location                    0
location_type               0
coordinates                 0
is_location_exact           0
latitude                    0
longitude                   0
average_rating              0
dtype: int64

In [ ]:
#Fill missing values in specific columns
df['bedrooms'].fillna(0, inplace=True)
df['beds'].fillna(0, inplace=True)
df['bathrooms'].fillna(0, inplace=True)
df['host_response_time'].fillna('Not Specified',inplace = True)
df['reviews_per_month'].fillna('Not Specified',inplace = True)
df['cleaning_fee'].fillna('Not Specified', inplace=True)
df['security_deposit'].fillna('Not Specified',inplace = True)
df['average_rating']=df['average_rating'].replace(0,'no_ratings')
df['is_location_exact'] = df['is_location_exact'].map({False:'No',True:'Yes'})

In [ ]:
df['bedrooms'] = df['bedrooms'].astype(int)
df['beds'] = df['beds'].astype(int)
df['bathrooms'] = df['bathrooms'].astype(str).astype(float)

In [ ]:
df.isnull().sum()

_id                      0
name                     0
description              0
neighborhood_overview    0
house_rules              0
property_type            0
room_type                0
bed_type                 0
cancellation_policy      0
accommodates             0
bedrooms                 0
beds                     0
number_of_reviews        0
bathrooms                0
amenities                0
price                    0
cleaning_fee             0
host                     0
address                  0
availability             0
review_scores            0
security_deposit         0
reviews_per_month        0
availablity_30           0
availability_60          0
availability_90          0
availability_365         0
host_id                  0
host_name                0
host_response_time       0
street                   0
country                  0
country_code             0
location                 0
location_type            0
coordinates              0
is_location_exact        0
latitude                 0
longitude                0
average_rating           0
dtype: int64

In [ ]:
df.columns

Index(['_id', 'name', 'description', 'neighborhood_overview', 'house_rules',
       'property_type', 'room_type', 'bed_type', 'cancellation_policy',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'amenities', 'price', 'cleaning_fee', 'host', 'address', 'availability',
       'review_scores', 'security_deposit', 'reviews_per_month',
       'availablity_30', 'availability_60', 'availability_90',
       'availability_365', 'host_id', 'host_name', 'host_response_time',
       'street', 'country', 'country_code', 'location', 'location_type',
       'coordinates', 'is_location_exact', 'latitude', 'longitude',
       'average_rating'],
      dtype='object')

In [ ]:
df.head()

,_id,name,description,neighborhood_overview,house_rules,property_type,room_type,bed_type,cancellation_policy,accommodates,...,street,country,country_code,location,location_type,coordinates,is_location_exact,latitude,longitude,average_rating
0,1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,The general welfare and well being of all the ...,Condominium,Entire home/apt,Real Bed,strict_14_with_grace_period,2,...,"Honolulu, HI, United States",United States,US,"{'type': 'Point', 'coordinates': [-157.83919, ...",Point,"[-157.83919, 21.28634]",Yes,-157.839190,21.286340,9.0
1,10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,,,Apartment,Private room,Real Bed,flexible,2,...,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,"{'type': 'Point', 'coordinates': [-43.20504708...",Point,"[-43.205047082633435, -22.971950988341874]",Yes,-43.205047,-22.971951,no_ratings
2,10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...",Copacabana in the South zone is the district t...,Entreguem o imóvel conforme receberam e respei...,Apartment,Entire home/apt,Real Bed,strict_14_with_grace_period,4,...,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,"{'type': 'Point', 'coordinates': [-43.19084919...",Point,"[-43.190849194463404, -22.984339360067814]",No,-43.190849,-22.984339,10.0
3,10051164,Catete's Colonial Big Hause Room B,"Old floor, intirely reformed, destined to rece...","A Grande Morada situa-se no Bairro do Catete, ...",,House,Private room,Real Bed,strict_14_with_grace_period,8,...,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,"{'type': 'Point', 'coordinates': [-43.18015675...",Point,"[-43.18015675229857, -22.92638234778768]",Yes,-43.180157,-22.926382,8.0
4,10057826,Deluxe Loft Suite,Loft Suite Deluxe @ Henry Norman Hotel Located...,Greenpoint is an artsy Brooklyn neighborhood f...,Guest must leave a copy of credit card with fr...,Apartment,Entire home/apt,Real Bed,strict_14_with_grace_period,4,...,"Brooklyn, NY, United States",United States,US,"{'type': 'Point', 'coordinates': [-73.94472, 4...",Point,"[-73.94472, 40.72778]",Yes,-73.944720,40.727780,9.166667

In [ ]:
df.to_csv('airbnbdata1.csv',index = False)